.new-car-form {
    width: 75%;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 8px;
    box-sizing: border-box;
    margin-bottom: 100px;
}

label {
    display: block;
    margin-bottom: 3px;

}

select, 
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #2DA056;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor:pointer;
}

button:hover {
    background-color: #45a049;
}